@model MvcOnlineTicariOtomasyon.Models.Siniflar.Cariler

@{
    ViewBag.Title = "YeniCari";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Cari Ekleme Sayfası</h2>
<br />

<form class="form-group" method="post">

    <label>Cari Adı</label>
    @Html.TextBoxFor(x => x.CariAd, new { @class = "form-control" })

    <label>Cari Soyadı</label>
    @Html.TextBoxFor(x => x.CariSoyAd, new { @class = "form-control" })

    <label>Cari Şehir</label>
    @Html.TextBoxFor(x => x.CariSehir, new { @class = "form-control" })

    <label>Cari Mail</label>
    @Html.TextBoxFor(x => x.CariMail, new { @class = "form-control" })

    <br />
    <button class="btn btn-info">Kaydet</button>
</form>