
@{
    Layout = null;
}

<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>404 Error Page | CodingNepal</title>
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/dist/css/errorpagecss.css">
</head>
<body>
    <div id="error-page">
        <div class="content">
            <h2 class="header" data-text="404">
                404
            </h2>
            <h4 data-text="Opps! Page not found">
                Opps! Sayfa bulunamadı
            </h4>
            <p>
                Üzgünüz, aradığın sayfa bulunamadı. Sayfa silinmiş ya da ismi değişmiş olabilir. Giriş sayfasına aşağıdaki buton ile gidebilirsin.
            </p>
            <div class="btns">
                <a href="/Login/Index/">Gİrİş Sayfası</a>
            </div>
        </div>
    </div>
</body>
</html>
